<p>ここはuserのbookの一覧を表示するページです。</p>

<div class="user_info">
  <h1>User info</h1>
  <ul>
    <li>name</li>
    <li>introduction</li>
  </ul>
</div>

<div class="new_book">
  <h1>New book</h1>
  <ul>
    <li>Title</li>
    <li>Opinion</li>
  </ul>
  <p>Create Book</p>
</div>

<div class="user_books">
  <h1>Books</h1>
  <ul>
    <li>title</li>
    <li>opinion</li>
  </ul>
</div>