<main>
  <div class="main_title">
    <h1>
      Welcome to <i class="fa-solid fa-book">Bookers</i>!!
    </h1>
  </div>

  <div class="main_text">
    <p>In <i class="fa-solid fa-book">Bookers</i>,
      <br>
      you can share and exchange your opinion, inipressions, and emotions
      <br>
      about various books!
    </p>
  </div>

  <ul class="main_button">
    <li><%= link_to "Sign up", new_user_registration_path, class: 'main_button' %></li>
    <li><%= link_to "Log in",  user_session_path, class: 'main_button' %></li>
  </ul>

</main>
